@import play.api.libs.json.{JsValue, Json}

@(cliqueSet: Set[ClusterHash] = Set[ClusterHash](), graphData: JsValue)

@D3.d3main("D3views"){
    <style>
            #graph-container {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
            }
            #control-pane {
                top: 10px;
                /*bottom: 10px;*/
                right: 10px;
                position: absolute;
                width: 230px;
                background-color: rgb(249, 247, 237);
                box-shadow: 0 2px 6px rgba(0,0,0,0.3);
            }
            #control-pane > div {
                margin: 10px;
                overflow-x: auto;
            }
            .line {
                clear: both;
                display: block;
                width: 100%;
                margin: 0;
                padding: 12px 0 0 0;
                border-bottom: 1px solid #aac789;
                background: transparent;
            }
            h2, h3, h4 {
                padding: 0;
                font-variant: small-caps;
            }
            .green {
                color: #437356;
            }
            h2.underline {
                color: #437356;
                background: #f4f0e4;
                margin: 0;
                border-radius: 2px;
                padding: 8px 12px;
                font-weight: 700;
            }
            label{
                font-family: "Arial","Microsoft YaHei", sans-serif;
                font-size: 14px;
            }
    </style>


    <div id="graphDiv"></div>
    <div id="control-pane">
        <h2 class="underline">filters</h2>
        <div>
            <input type="checkbox" id="isTagShow">
            <label for="">显示标签</label>
        </div>
        <div>
            <h3>node category</h3>
            <select id="node-category">
                <option value="" selected>All categories</option>
                @for(clique <- cliqueSet) {
                    <option value="@clique.clique">@clique.clique</option>
                }
            </select>
        </div>
        <span class="line"></span>
        <div>
            <button id="reset-btn">Reset filters</button>
            <button id="select-btn">Cancel Selection</button>
        </div>
        <div id="dump" class="hidden"></div>
    </div>

    <script>
        var graph = @Html(Json.stringify(graphData));

        console.log(graph)
    </script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/d3/d3.draw.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/d3.wei.js")" type="text/javascript"></script>
}