@import play.api.libs.json.{JsValue, Json}
@(tb: JsValue)
@smain("ShowPanel"){

    <div id="container">
  <style>
    #graph-container {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
    }

    #control-pane {
        top: 10px;
        /*bottom: 10px;*/
        right: 10px;
        position: absolute;
        width: 230px;
        background-color: rgb(249, 247, 237);
        box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    }
    #control-pane > div {
        margin: 10px;
        overflow-x: auto;
    }
    .line {
        clear: both;
        display: block;
        width: 100%;
        margin: 0;
        padding: 12px 0 0 0;
        border-bottom: 1px solid #aac789;
        background: transparent;
    }
    h2, h3, h4 {
        padding: 0;
        font-variant: small-caps;
    }
    .green {
        color: #437356;
    }
    h2.underline {
        color: #437356;
        background: #f4f0e4;
        margin: 0;
        border-radius: 2px;
        padding: 8px 12px;
        font-weight: 700;
    }
    .hidden {
        display: none;
        visibility: hidden;
    }
  </style>
  <div id="graph-container"></div>

    <div id="control-pane">
        <h2 class="underline">filters</h2>
        <div>
            <h3>node category</h3>
            <select id="node-category">
                <option value="" selected>All categories</option>
            </select>
        </div>
        <span class="line"></span>
        <div>
            <button id="reset-btn">Reset filters</button>
            <button id="export-btn">Export</button>
        </div>
        <div id="dump" class="hidden"></div>
    </div>

</div>
    <script>
            /**
             * This is a basic example on how to instantiate sigma. A random graph is
             * generated and stored in the "graph" variable, and then sigma is instantiated
             * directly with the graph.
             *
             * The simple instance of sigma is enough to make it render the graph on the on
             * the screen, since the graph is given directly to the constructor.
             */

            var graphDatas = @Html(Json.stringify(tb));
            var g = { nodes: [], edges: []};

            console.log(graphDatas);
/*
            s = new sigma({
                graph: g,
                container: 'graph-container'
            });
            s.settings('enableCamera', false);
            s.settings('autoRescale', false);

            sigma.plugins.dragNodes(s, s.renderers[0]);
            s.refresh();*/

    </script>

}